!!!
%html
  %head
    %title CobaRuby
    = stylesheet_link_tag "#{asset_root}/stylesheets/style.css", :media => "all"
  %body
    :javascript
      window.cookiePrefix = "#{cookie_prefix}";
      window.rubyEvalRoot = "#{ruby_eval_root}";
      window.challengeRoot = "#{challenge_root}";
    .header
      %h1 Coba Ruby, Yuk! [Sedang Dikerjakan]
      %span
        Atau ke
        = link_to "Ruby Indonesia", 'http://id-ruby.org/', target: "_blank"
        \/
        = link_to "Mengenal Ruby", 'http://nyan.catcyb.org/mengenal-ruby/', target: "_blank"
    .panes.clearfix
      #js-question.pane.pane-left
        - if (challenge_path = current_page.data["challenge_path"])
          = preserve do
            = yield
          %span#js-challenge{ "data-path" => challenge_path, "data-answerable" => (!current_page.data["manual_continue"]).to_s }
        - else
          = yield
      .pane.pane-right
        #code-editor
        .code-tools
          .btn-run-wrapper
            = link_to "Jalankan", 'javascript:;', class: "btn-run"
          .code-output
            %h4 Output
            %pre
              %code#run-output
    %script(type="text/plain" id="snippet-request-error-template") Ups! Maaf, lagi error... Coba lagi nanti, atau kontak thecatcyborg+jpruby@gmail.com melalui email. Terima kasih!
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"
    = javascript_include_tag "http://nyan.catcyb.org/mengenal-ruby/js/vendor/editor/ace.js", charset: "utf-8"
    = javascript_include_tag "#{asset_root}/javascripts/all.js"
