!!!
%html
  %head
    %title CobaRuby
    = stylesheet_link_tag "#{asset_root}/stylesheets/style.css", :media => "all"
  %body
    .header
      %h1 Coba Ruby, Yuk! [Sedang Dikerjakan]
      %span
        Atau ke
        = link_to "Ruby Indonesia", 'http://id-ruby.org/', target: "_blank"
        \/
        = link_to "Mengenal Ruby", 'http://nyan.catcyb.org/mengenal-ruby/', target: "_blank"
    .panes
      .pane.pane-left
        = yield
        - if (challenge_path = current_page.data["challenge_path"])
          :javascript
            window.challengePath = "#{challenge_path}";
            window.challengeCanBeAnswered = #{challenge_path != "01/00"};
        - if (manual_continue = current_page.data["manual_continue"] == true)
          :javascript
            window.manualContinue = #{manual_continue};
      .pane.pane-right
        #code-editor
        .code-tools
          .btn-run-wrapper
            = link_to "Jalankan", '#', class: "btn-run"
          .code-output
            %h4 Output
            %pre
              %code#run-output
      .clearfix
    %script(type="text/plain" id="snippet-request-error-template")Ups! Maaf, lagi error... Coba lagi nanti, atau kontak thecatcyborg+jpruby@gmail.com melalui email. Terima kasih!
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"
    = javascript_include_tag "http://nyan.catcyb.org/mengenal-ruby/js/vendor/editor/ace.js", charset: "utf-8"
    = javascript_include_tag "#{asset_root}/javascripts/all.js"
